.pagination{
    display: flex;
    margin-bottom: 10px;
}

.paginationItem{
    padding: 2px 5px;
    background-color: #fff;
    margin: 0px 4px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.paginationItem.selected{
    background-color: red;
}