.item a{
    text-decoration: none;
    color: #fff;
}

.item a.activeLink{
    color: red;
}

.item{
    position: relative;
    margin-left: 25px;
}

.item:before{
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(-100%, -50%);
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-color: orange;
    border-radius: 50%;
}
