.header {
    grid-area: header;
    background-color: limegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.header img {
    max-width: 60px;
}

.loginBlock a {
    color: #ffffff;
    text-decoration: none;
}
