.item {
    color: #fff;
}

.img {
    margin-right: 10px;
}

.img img {
    max-width: 60px;
    border-radius: 50%;
}

.itemPost {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px auto;

}