.dialogs{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogs .dialogsItems{
    padding: 10px;
}

.dialogs  .dialogsItems .dialog a{
    text-decoration: none;
}

.dialogs  .dialogsItems .dialog a.activeLink {
    color: red;
}


.messages{
    padding: 10px;

}

.messages .message{

}